[submodule "submodules/neocomplcache"]
	path = submodules/neocomplcache
	url = https://github.com/Shougo/neocomplcache.git
[submodule "submodules/gundo"]
	path = submodules/gundo
	url = https://github.com/sjl/gundo.vim.git
[submodule "submodules/vim-surround"]
	path = submodules/vim-surround
	url = https://github.com/tpope/vim-surround.git
[submodule "submodules/vim-repeat"]
	path = submodules/vim-repeat
	url = https://github.com/tpope/vim-repeat.git
[submodule "submodules/vim-commentary"]
	path = submodules/vim-commentary
	url = https://github.com/tpope/vim-commentary.git
[submodule "submodules/nerdtree"]
	path = submodules/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "submodules/ack"]
	path = submodules/ack
	url = https://github.com/mileszs/ack.vim.git
[submodule "submodules/vim-coffee-script"]
	path = submodules/vim-coffee-script
	url = https://github.com/kchmck/vim-coffee-script.git
[submodule "submodules/mustache"]
	path = submodules/mustache
	url = git://github.com/juvenn/mustache.vim.git
[submodule "submodules/vim-rails"]
	path = submodules/vim-rails
	url = https://github.com/tpope/vim-rails.git
[submodule "submodules/html5.vim"]
	path = submodules/html5.vim
	url = https://github.com/othree/html5.vim.git
[submodule "submodules/vim-javascript"]
	path = submodules/vim-javascript
	url = https://github.com/pangloss/vim-javascript.git
[submodule "submodules/cocoa"]
	path = submodules/cocoa
	url = https://github.com/msanders/cocoa.vim.git
[submodule "submodules/vim-slim"]
	path = submodules/vim-slim
	url = https://github.com/slim-template/vim-slim.git
[submodule "submodules/vim-session"]
	path = submodules/vim-session
	url = https://github.com/xolox/vim-session.git
[submodule "submodules/vim-misc"]
	path = submodules/vim-misc
	url = https://github.com/xolox/vim-misc.git
