[submodule "submodules/neocomplcache"]
	path = submodules/neocomplcache
	url = https://github.com/Shougo/neocomplcache.git
[submodule "submodules/gundo"]
	path = submodules/gundo
	url = https://github.com/sjl/gundo.vim.git
[submodule "submodules/vim-surround"]
	path = submodules/vim-surround
	url = https://github.com/tpope/vim-surround.git
[submodule "submodules/vim-repeat"]
	path = submodules/vim-repeat
	url = https://github.com/tpope/vim-repeat.git
[submodule "submodules/vim-commentary"]
	path = submodules/vim-commentary
	url = https://github.com/tpope/vim-commentary.git
[submodule "submodules/minibufexpl"]
	path = submodules/minibufexpl
	url = https://github.com/sontek/minibufexpl.vim.git
[submodule "submodules/nerdtree"]
	path = submodules/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "submodules/ack"]
	path = submodules/ack
	url = https://github.com/mileszs/ack.vim.git
